/* SASS styling with nested structure. */

$primary_color: #212121;
$secondary_color: #292929;
$border_radius: 10px;

$large_font: 2em;
$secondary_font: 1em;

/* Mixin */
@mixin set_margin($val) {
    margin: $val auto;
}

@mixin set_color_and_font_size($color) {
    color: $color;
    font-size: $large_font;
}

body {
    font-family: 'Texturina', serif;
    color: aliceblue;
    animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; 
}

@keyframes backgroundColorPalette {
	0% {
		background: #6300BD;
	}
	16% {
		background: #8001DD;
	}
	32% {
		background: #A120F2;
	}
	48% {
		background: #C100FE;
	}
	64% {
		background: #DD00FD;
    }
    80% {
		background: #FF4FDB;
    }
    100% {
		background: #C100FE;
	}
}

button {
    background-color: #6300BD; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $secondary_font;
    border-radius: 5px;
}

/* Styles the rules on the player select page */
.rules {
    @include set_margin(30px);
    background-color: $secondary_color;
    border-radius: $border_radius;
    padding-bottom: 25px;
    width: 50%;

    p {
        padding: 15px 0px 0px 25px;
        font-size: $large_font;
    }
}

/* Main container that all dices and player info goes in */
.container {
    @include set_margin(10%);
    border: 3px solid $primary_color;
    background-color:$primary_color;
    box-shadow: 5px 8px #181818;
    border-radius: $border_radius;
    padding: 10px;
    width: 1024px;

    .field {
        display: none;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    
        .column{
            flex: 0 50%;
            background-color: $secondary_color;
            border: 15px solid $primary_color;
            box-sizing:border-box;
            border-radius: $border_radius;
            padding: 10px 25px 10px 25px;
        }
    }
}

.dices {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    div {
        flex: 0 50%;
    }
}

/* Styles the popup box that declares winner. */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 30%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.popup_content {
    background-color: $primary_color;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
    border-radius: 5px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: $secondary_font;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}


/* Style by ID */
#player-name {
    font-size: $large_font;
}

#round {
    padding: 20px;
    text-align: center;
    font-size: $large_font;
}

/* Style by class */
.controls {
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.round {
    @include set_color_and_font_size(#FF4FDB);
}

.total {
    @include set_color_and_font_size(#A120F2);
}
